<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>act1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Belanjaan</div>
        <hr>
        <p>Nama Buah : <td th:text="${namefruit}"></td>
        <p>Harga Perkilo : Rp.<td th:text="${pricefruit}"></td>
        <p>Jumlah : <td th:text="${amountkilo}"></td> Kg
        <p>Harga Awal : Rp.<td th:text="${beforeprice}"></td>
        <p>Jumlah Diskon : <td th:text="${discnumber}"></td>%
        <p>Harga Diskon : Rp.<td th:text="${discamount}"></td>
        <p>Total Bayar : Rp.<td th:text="${afterprice}"></td>
    </body>
</html>